h1 {
    color: violet;
}

nav {
	color: rgba(20, 20, 20, 0.3);
}

h2 {
	color: white;
}
}

div
{
	background-image:../background.jpg;
	/* background-image:url('../background.jpg'); 
	background-repeat:no-repeat; */
}